<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Codeer.Friendly" version="2.5.0" targetFramework="net452" />
  <package id="Codeer.Friendly.Windows" version="2.6.0" targetFramework="net452" />
  <package id="Codeer.Friendly.Windows.Grasp" version="2.5.1" targetFramework="net452" />
  <package id="RM.Friendly.WPFStandardControls" version="1.8.0" targetFramework="net452" />
</packages>